/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
}

/* Dancing Script font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+CU:wght@100..400&display=swap');

.dancing-script-font {
    font-family: "Dancing Script", cursive;
}
/* universal css */
* {
    margin: 0;
    color: white;
}
/* full body background color */
.background-color {
    background-color: black;
}
/* description */
.description {
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
}

/* navigation section style start*/
#navigation {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

#navigation-heading {
    color: rgba(230, 83, 60, 1);
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
}

#navigation-heading:hover{
    cursor: pointer;
}

.navigation-btn-text {
    display: flex;
    gap: 40px;
    align-items: center;
    border: 1px solid rgb(57, 56, 56);
    padding: 0px 20px 0px 0px;
    border-radius: 20px;
}

.navigation-btn {
    color: white;
    background-color: red;
    border: none;
    font-size: 18px;
    border-radius: 20px;
    padding: 5px;
}

.navigation-btn:hover{
    cursor: pointer;
}

.navigation-text {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.navigation-text:hover{
    color: rgb(0, 132, 255);
    text-decoration: underline;
}

.navigation-3line-icon {
    color: white;
    display: none;
}

/* navigation section style end*/

/* Get body banner section start */
.banner-section {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.banner-section-content {
    width: 50%;
}

#banner-section-heading {
    color: white;
    font-size: 78px;
}

.banner-section-description {
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-section-btn1 {
    background-color: red;
    border: none;
    font-size: 18px;
    color: white;
    padding: 15px 45px;
    border-radius: 25px;
}

.banner-section-btn1:hover{
    cursor: pointer;
}

#banner-section-btn2 {
    border: none;
    font-size: 18px;
    color: white;
    background: none;
    border: 1px solid rgb(116, 114, 114);
    padding: 15px 45px;
    border-radius: 25px;
}

#banner-section-btn2:hover{
    cursor: pointer;
}

.banner-section-img-content {
    position: relative;
    width: 50%;
    object-position: center;
    object-fit: cover;
    display: flex;
    justify-content: center;
}

#banner-section-img {
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.banner-section-sticker1-button {
    background-color: red;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 60px;
}

#banner-section-sticker1 {
    width: 200px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    justify-content: center;
    position: absolute;
    top: 70%;
    left: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 8px;
    border-radius: 13px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

#banner-section-sticker2 {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    border-radius: 13px;
    position: absolute;
    top: 16%;
    right: 2%;
    padding: 5px 4px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

#banner-section-sticker1-head {
    color: white;
    font-size: 24px;
}

.banner-section-sticker2-head {
    color: white;
    font-size: 35px;
    margin-left: 20px;
}
.sticker2-description{
    margin-left: 20px;
}

/* Get body banner section end */


/* Change your habits section start */
.change-your-habit-section {
    color: white;
}

.change-your-habit-section-header {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: xx-large;
    font-weight: 900;
}

.change-your-habit-section-description {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.change-your-habit-card-container {

    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-bottom: 80px;
}

.change-your-habit-cards {
    text-align: center;
}

.change-your-habit-cards>img {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.change-your-habit-cards-header {
    margin-top: 20px;
    margin-bottom: 5px;
}

/* Change your habits section end */


/* Run an extra mile section start */
.run-an-extra-section {
    width: 70%;
    background-color: rgb(46, 42, 42);
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    padding: 30px;
}

.run-an-extra-section-heading {
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.run-an-extra-section-left-content {
    width: 40%;
}

.run-an-extra-img-container {
    width: 50%;
}

.run-an-extra-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}

/* Run an extra mile section end */


/* Trainings and Exercises Section start  */
.trainings-and-exercise-section {
    width: 74%;
    margin: 0 auto;
    margin-top: 80px;
}

.trainings-and-exercise-section-heading {
    color: #FFF;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.trainings-and-exercise-section-content1 {
    background: linear-gradient(0deg, rgba(6, 255, 210, 0.50) 0%, rgba(6, 255, 210, 0.50) 100%), url('./images/exercise1.jpg');
}

.trainings-and-exercise-section-content2 {
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.30) 0%, rgba(255, 0, 0, 0.30) 100%), url('./images/exercise2.png');
}

.trainings-and-exercise-section-content3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url('./images/exercise3.png');
}

.trainings-and-exercise-section-content4 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url('./images/exercise4.png');
}

.trainings-and-exercise-section-content5 {
    background: linear-gradient(0deg, rgba(66, 255, 0, 0.30) 0%, rgba(66, 255, 0, 0.30) 100%), url('./images/exercise5.jpg');
}

.trainings-and-exercise-section-content6 {
    background: linear-gradient(0deg, rgba(0, 71, 255, 0.30) 0%, rgba(0, 71, 255, 0.30) 100%), url('./images/exercise6.jpg');
}

.trainings-and-exercise-section-gridup {
    display: grid;
    grid-template-columns: repeat(1, 3fr 6fr 3fr);
    margin-top: 20px;
}

.trainings-and-exercise-section-griddown {
    display: grid;
    grid-template-columns: repeat(1, 4.5fr 3.5fr 4fr);
}

.trainings-and-exercise-content-position {
    background-size: cover;
    background-position: center;
    height: 272px;
    position: relative;
}

.trainings-and-exercise-content-description {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

/* Trainings and Exercises Section end*/


/* BMI calculator section start */
.bmi-calculator-section {
    width: 100%;
}

#bmi-calculator-section-heading {
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    margin-top: 80px;
    margin-bottom: 15px;
}

.bmi-calculator-section-description {
    text-align: center;
    margin-bottom: 50px;
}

.bmi-calculator-section-content {
    width: 100%;
    background: #222;
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bmi-calculator-section-table {
    width: 50%;
}

.bmi-calculator-section-input {
    width: 50%;
}

caption {
    font-size: 27px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td,
th {
    border: 1px solid rgba(255, 255, 255, 0.10);
    padding: 15px 25px;
    text-align: start;
}

td {
    color: rgb(124, 121, 121)
}

.bmi-calculator-section-input-content {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.bmi-calculator-section-input-heading {
    font-size: 27px;
    font-weight: 800;
    margin-bottom: 15px;
}

.bmi-calculator-section-input-description {
    width: 80%;
    margin-bottom: 40px;
}

input,
select {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    border: none;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
}

input::placeholder {
    color: rgb(218, 213, 213);
    font-size: 16px;
    font-weight: 400;
}

/* BMI calculator section end */

/* Meet Our Team section start */
.meet-our-team-section {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.meet-our-team-section-heading {
    font-size: 48px;
    font-weight: 900;
}

.meet-our-team-section-description {
    margin-top: 20px;
}

.meet-our-team-section-cards {
    width: 70%;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.10);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.meet-our-team-section-card>div>img {
    width: 100%;
    height: 272px;
    border-radius: 18px;
    object-fit: fill;
    object-position: center;
}

.meet-our-team-section-card {
    position: relative;
}

.meet-our-team-card-details {
    position: absolute;
    bottom: 15px;
    left: 10px;
}

/* Meet Our Team section end */

/* newsletter section start */
.newsletter-section {
    width: 70%;
    margin: 80px auto;
    background: #222;
    padding: 50px 0px;
    border-radius: 8px;
}

.newsletter-section-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(63, 67, 70);
    border-radius: 5px;
    gap: 20px;
    padding: 30px;
}

.newsletter-section-leftside {
    width: 50%;
}

.newsletter-section-rightside {
    width: 50%;
    display: flex;
}

.newsletter-section-heading {
    color: white;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.newsletter-section-input {
    border: none;
    background: rgba(35, 34, 34, 0.179);
    border-right: 0px;
    border-radius: 8px 0 0 8px;
    padding: 20px;
    flex-grow: 1;
}

.newsletter-section-input::placeholder {
    font-size: 20px;
}

.newsletter-section-button {
    border: none;
    background-color: rgb(255, 17, 0);
    font-size: 20px;
    font-weight: 700;
    border-radius: 0 8px 8px 0;
    padding: 10px;
}

.newsletter-section-button:hover{
    cursor: pointer;
}
/* newsletter section end */

/* footer section start */
.footer-section {
    display: flex;
    justify-content: space-between;
    padding: 60px 120px;
}

.footer-section-card1 {
    width: 50%;
}

.footer-section-card1-heading {
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    color: rgba(255, 85, 0, 0.904);
    margin-bottom: 20px;
}

.footer-section-card1-description {
    width: 60%;
    line-height: 22px;
}

.footer-section-card2 {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-section-card3 {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

a {
    text-decoration: none;
    color: rgb(158, 154, 154);
    font-size: 18px;
}

.footer-section-all-right {
    text-align: center;
    font-size: 22px;
    color: rgb(186, 74, 74);
    padding: 20px;
}
/* footer section end */


/* responsive layout section start*/
@media screen and (max-width:576px) {

    /* responsive navigation section start */
    #navigation {
        width: 95%;
    }

    .navigation-3line-icon {
        display: block;
        border: none;
    }

    .navigation-btn {
        display: none;
    }

    .navigation-text {
        display: none;
    }

    .navigation-btn-text {
        border: none;
    }

    /* responsive navigation section end */

    /* responsive banner section start*/
    .banner-section {
        width: 95%;
        margin-top: 20px;
        flex-direction: column;
        gap: 20px;
    }

    .banner-section-btn1 {
        padding: 11px 15px;
    }

    #banner-section-btn2 {
        padding: 11px 15px;
    }

    #banner-section-sticker1 {
        width: 35%;
        top: 50%;
        left: 0%;
    }

    #banner-section-sticker1-head {
        font-size: 15px;
    }

    .banner-section-description {
        font-size: 10px;
    }

    #banner-section-sticker2 {
        width: 35%;
        top: 15%;
        right: 0%;
    }

    .banner-section-sticker2-head {
        font-size: 30px;
    }

    #banner-section-heading {
        font-size: 50px;
        justify-content: center;
        margin: 0;
    }

    .banner-section-content {
        width: 100%;
    }

    .banner-section-img-content {
        width: 100%;
    }

    .banner-section-content {
        width: 100%;
    }

    /* responsive banner section end*/

    /*responsive change your habits start*/
    .change-your-habit-section-header {
        font-size: 22px;
    }

    .description {
        width: 90%;
        font-size: small;
    }

    .change-your-habit-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    /*responsive change your habits end*/

    /*responsive Run an extra mile section start*/
    .run-an-extra-section {
        flex-direction: column;
        gap: 20px;
    }

    .run-an-extra-img-container {
        width: 100%;
    }

    .run-an-extra-section-left-content {
        width: 100%;
    }

    .run-an-extra-section-heading {
        font-size: 35px;
    }

    /*responsive Run an extra mile section end */

    /*responsive Trainings And Exercise Section start */
    .trainings-and-exercise-section {
        width: 85%;
        margin: 0 auto;
        margin-top: 80px;
    }

    .trainings-and-exercise-section-heading {
        font-size: 32px;
    }

    .trainings-and-exercise-section-content3,
    .trainings-and-exercise-section-content6 {
        display: none;
    }

    .trainings-and-exercise-content-position {
        height: 130px;
    }

    .trainings-and-exercise-section-gridup {
        grid-template-columns: repeat(2, 1fr);
    }

    .trainings-and-exercise-section-griddown {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .trainings-and-exercise-content-description{
        font-size: 10px;
    }

    /*responsive Trainings And Exercise Section end */

    /*responsive BMI calculator section start */
    .bmi-calculator-section-content {
        flex-direction: column;
        gap: 20px;
    }

    #bmi-calculator-section-heading {
        font-size: 30px;
        text-align: start;
        padding: 10px 20px;
    }

    .bmi-calculator-section-description {
        width: 80%;
        text-align: start;
        padding: 0px 20px;
        margin-bottom: 20px;
    }

    .bmi-calculator-section-input-content {
        width: 100%;
    }

    .bmi-calculator-section-input-heading {
        font-size: 20px;
    }

    .bmi-calculator-section-table {
        width: 85%;
        padding: 20px;
    }

    .bmi-calculator-input-section {
        padding: 20px;
    }

    td,
    th {
        padding: 10px 20px;
    }

    .bmi-calculator-section-input-content>input,
    select {
        padding: 15px 5px;
        font-size: 10px;
    }

    input::placeholder {
        font-size: 10px;
    }

    caption {
        font-size: 20px;
        text-align: start;
    }
    /*responsive BMI calculator section end */

    /*responsive Meet Our Team section start */
    .meet-our-team-section-cards {
        width: 85%;
        grid-template-columns: repeat(1, 1fr);
    }

    .meet-our-team-section-heading {
        font-size: 32px;
        font-weight: 900;
    }

    .meet-our-team-section {
        width: 100%;
    }

    /*responsive Meet Our Team section end */

    /*responsive newsletter section start */
    .newsletter-section {
        width: 90%;
    }

    .newsletter-section-content {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .newsletter-section-input {
        width: 70px;
        padding: 10px;
    }

    .newsletter-section-leftside,
    .newsletter-section-rightside {
        width: 100%;
    }

    .newsletter-section-button {
        font-size: 10px;
        font-weight: 500;
        padding: 5px;
    }

    .newsletter-section-input::placeholder {
        font-size: 10px;
    }

    /*responsive newsletter section end */

    /* responsive footer section start */
    .footer-section {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .footer-section-card1-heading {
        font-size: 30px;
        font-weight: 900;
    }

    .footer-section-card1 {
        width: 100%;
    }

    .footer-section-card1-description {
        width: 90%;
    }

    .footer-section-card2 {
        width: 100%;
    }

    .footer-section-card3 {
        width: 100%;
    }

    .footer-section-all-right {
        font-size: 18px;
    }

    a {
        font-size: 15px;
    }

    .bmi-button {
        font-size: 15px;
    }

    /* responsive footer section end */
}