/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
}

/* Dancing Script font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+CU:wght@100..400&display=swap');

.dancing-script-font {
    font-family: "Dancing Script", cursive;
}

* {
    margin: 0;
    color: white;
}

.background-color {
    background-color: black;
}

.description {
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
}

/* navigation section style start*/
#navigation {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

#navigation-heading {
    color: rgba(230, 83, 60, 1);
    font-size: 36px;
    font-style: italic;
    font-weight: 800;
}

.navigation-btn-text {
    display: flex;
    gap: 40px;
    align-items: center;
    border: 1px solid rgb(57, 56, 56);
    padding: 0px 20px 0px 0px;
    border-radius: 20px;
}

.navigation-btn {
    color: white;
    background-color: red;
    border: none;
    font-size: 18px;
    border-radius: 20px;
    padding: 5px;
}

.navigation-text {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navigation-3line-icon {
    color: white;
    display: none;
}

/* navigation section style end*/

/* Get body banner section start */
.banner-section {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.banner-section-content {
    width: 50%;
}

#banner-section-heading {
    color: white;
    font-size: 78px;
}

.banner-section-description {
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-section-btn1 {
    background-color: red;
    border: none;
    font-size: 18px;
    color: white;
    padding: 15px 45px;
    border-radius: 25px;
}

#banner-section-btn2 {
    border: none;
    font-size: 18px;
    color: white;
    background: none;
    border: 1px solid rgb(116, 114, 114);
    padding: 15px 45px;
    border-radius: 25px;
}

.banner-section-img-content {
    position: relative;
    width: 50%;
    object-position: center;
    object-fit: cover;
    display: flex;
    justify-content: center;

}

#banner-section-img {
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.banner-section-sticker1-button {
    background-color: red;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 60px;
}

#banner-section-sticker1 {
    width: 200px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    justify-content: center;
    position: absolute;
    top: 70%;
    left: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 8px;
    border-radius: 13px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

#banner-section-sticker2 {
    width: 190px;
    background-color: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    border-radius: 13px;
    position: absolute;
    top: 16%;
    right: 0%;
    padding: 2px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

#banner-section-sticker1-head {
    color: white;
    font-size: 24px;
}

.banner-section-sticker2-head {
    color: white;
    font-size: 40px;
}

/* Get body banner section end */


/* Change your habits section start */
.change-your-habit-section {
    color: white;
}

.change-your-habit-section-header {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: xx-large;
    font-weight: 900;
}

.change-your-habit-section-description {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.change-your-habit-card-container {

    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-bottom: 80px;
}

.change-your-habit-cards {
    text-align: center;
}

.change-your-habit-cards>img {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.change-your-habit-cards-header {
    margin-top: 20px;
    margin-bottom: 5px;
}

/* Change your habits section end */


/* Run an extra mile section start */
.run-an-extra-section {
    width: 70%;
    background-color: rgb(46, 42, 42);
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    padding: 30px;
}

.run-an-extra-section-heading {
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.run-an-extra-section-left-content {
    width: 40%;
}

.run-an-extra-img-container {
    width: 50%;
}

.run-an-extra-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}

/* Run an extra mile section end */


/* Trainings and Exercises Section start  */
.trainings-and-exercise-section {
    width: 74%;
    margin: 0 auto;
    margin-top: 80px;
}

.trainings-and-exercise-section-heading {
    color: #FFF;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.trainings-and-exercise-section-content1 {
    background: linear-gradient(0deg, rgba(6, 255, 210, 0.50) 0%, rgba(6, 255, 210, 0.50) 100%), url('./images/exercise1.jpg');
}

.trainings-and-exercise-section-content2 {
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.30) 0%, rgba(255, 0, 0, 0.30) 100%), url('./images/exercise2.png');
}

.trainings-and-exercise-section-content3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url('./images/exercise3.png');
}

.trainings-and-exercise-section-content4 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url('./images/exercise4.png');
}

.trainings-and-exercise-section-content5 {
    background: linear-gradient(0deg, rgba(66, 255, 0, 0.30) 0%, rgba(66, 255, 0, 0.30) 100%), url('./images/exercise5.jpg');
}

.trainings-and-exercise-section-content6 {
    background: linear-gradient(0deg, rgba(0, 71, 255, 0.30) 0%, rgba(0, 71, 255, 0.30) 100%), url('./images/exercise6.jpg');
}

.trainings-and-exercise-section-gridup {
    display: grid;
    grid-template-columns: repeat(1, 3fr 6fr 3fr);
    margin-top: 20px;
}

.trainings-and-exercise-section-griddown {
    display: grid;
    grid-template-columns: repeat(1, 4.5fr 3.5fr 4fr);
}

.trainings-and-exercise-content-position {
    background-size: cover;
    background-position: center;
    height: 272px;
    position: relative;
}

.trainings-and-exercise-content-description {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

/* Trainings and Exercises Section end*/

/* responsive layout section start*/
@media screen and (max-width:576px) {

    /* responsive navigation section start */
    #navigation {
        width: 95%;
    }

    .navigation-3line-icon {
        display: block;
        border: none;
    }

    .navigation-btn {
        display: none;
    }

    .navigation-text {
        display: none;
    }

    .navigation-btn-text {
        border: none;
    }

    /* responsive navigation section end */

    /* responsive banner section start*/
    .banner-section {
        width: 95%;
        margin-top: 20px;
        flex-direction: column;
        gap: 20px;
    }

    .banner-section-btn1 {
        padding: 11px 15px;
    }

    #banner-section-btn2 {
        padding: 11px 15px;
    }

    #banner-section-sticker1 {
        width: 40%;
        top: 45%;
        left: 0%;
    }

    #banner-section-sticker1-head {
        font-size: 15px;
    }

    .banner-section-description {
        font-size: 10px;
    }

    #banner-section-sticker2 {
        width: 40%;
        top: 10%;
        right: 0%;
    }

    .banner-section-sticker2-head {
        font-size: 30px;
    }

    #banner-section-heading {
        font-size: 50px;
        justify-content: center;
        margin: 0;
    }

    .banner-section-content {
        width: 100%;
    }

    .banner-section-img-content {
        width: 100%;
    }

    .banner-section-content {
        width: 100%;
    }

    /* responsive banner section end*/

    /*responsive change your habits start*/
    .change-your-habit-section-header {
        font-size: 22px;
    }

    .description {
        width: 90%;
        font-size: small;
    }

    .change-your-habit-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    /*responsive change your habits end*/

    /*responsive Run an extra mile section start*/
    .run-an-extra-section {
        flex-direction: column;
        gap: 20px;
    }

    .run-an-extra-img-container {
        width: 100%;
    }

    .run-an-extra-section-left-content {
        width: 100%;
    }

    .run-an-extra-section-heading {
        font-size: 35px;
    }

    /*responsive Run an extra mile section end */

    /*responsive Trainings And Exercise Section start */
    .trainings-and-exercise-section {
        width: 85%;
        margin: 0 auto;
        margin-top: 80px;
    }

    .trainings-and-exercise-section-heading {
        font-size: 32px;
    }

    .trainings-and-exercise-section-content3,
    .trainings-and-exercise-section-content6 {
        display: none;
    }

    .trainings-and-exercise-content-position {
        height: 130px;
    }

    .trainings-and-exercise-section-gridup {
        grid-template-columns: repeat(2, 1fr);
    }

    .trainings-and-exercise-section-griddown {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /*responsive Trainings And Exercise Section end */
}